fastapi==0.111.1
uvicorn==0.22.0
google-cloud-firestore==2.11.1
requests==2.31.0
APScheduler==3.10.4
httpx==0.27.0
python-multipart==0.0.9
fastapi-oidc==0.0.10
firebase-admin==6.5.0
google-auth==2.20.0
pydantic==2.8.2
gunicorn==23.0.0
python-dotenv==1.0.1